<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zqz.dao.mapper.DfcfRecordMapper">
  <resultMap id="BaseResultMap" type="com.zqz.dao.entity.DfcfRecord">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="stock_market" jdbcType="VARCHAR" property="stockMarket" />
    <result column="stock_rank" jdbcType="VARCHAR" property="stockRank" />
    <result column="stock_code" jdbcType="VARCHAR" property="stockCode" />
    <result column="stock_name" jdbcType="VARCHAR" property="stockName" />
    <result column="price_new" jdbcType="DECIMAL" property="priceNew" />
    <result column="stock_change" jdbcType="DECIMAL" property="stockChange" />
    <result column="process_date" jdbcType="DATE" property="processDate" />
    <result column="main_net_inflow_amount" jdbcType="DECIMAL" property="mainNetInflowAmount" />
    <result column="main_net_proportion" jdbcType="DECIMAL" property="mainNetProportion" />
    <result column="super_big_part_net_inFlow_amount" jdbcType="DECIMAL" property="superBigPartNetInflowAmount" />
    <result column="super_big_part_net_proportion" jdbcType="DECIMAL" property="superBigPartNetProportion" />
    <result column="big_part_net_inFlow_amount" jdbcType="DECIMAL" property="bigPartNetInflowAmount" />
    <result column="big_part_net_proportion" jdbcType="DECIMAL" property="bigPartNetProportion" />
    <result column="middle_part_net_inFlow_amount" jdbcType="DECIMAL" property="middlePartNetInflowAmount" />
    <result column="middle_part_net_proportion" jdbcType="DECIMAL" property="middlePartNetProportion" />
    <result column="litter_part_net_inFlow_amount" jdbcType="DECIMAL" property="litterPartNetInflowAmount" />
    <result column="litter_part_net_proportion" jdbcType="DECIMAL" property="litterPartNetProportion" />
    <result column="stock_page" jdbcType="INTEGER" property="stockPage" />
    <result column="count_time" jdbcType="TIMESTAMP" property="countTime" />
    <result column="time_version" jdbcType="VARCHAR" property="timeVersion" />
    <result column="crawler_version" jdbcType="VARCHAR" property="crawlerVersion" />
    <result column="crawl_count" jdbcType="INTEGER" property="crawlCount"/>
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
    <result column="u_time" jdbcType="TIMESTAMP" property="uTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.zqz.dao.entity.DfcfRecord">
    <result column="someInfo" jdbcType="LONGVARCHAR" property="someinfo" />
  </resultMap>
  <sql id="Base_Column_List">
    id, stock_market, stock_rank, stock_code, stock_name, price_new, stock_change, process_date, 
    main_net_inflow_amount, main_net_proportion, super_big_part_net_inFlow_amount, super_big_part_net_proportion, 
    big_part_net_inFlow_amount, big_part_net_proportion, middle_part_net_inFlow_amount, 
    middle_part_net_proportion, litter_part_net_inFlow_amount, litter_part_net_proportion, 
    stock_page, count_time, time_version, crawler_version, crawl_count, c_time, u_time
  </sql>
  <sql id="Blob_Column_List">
    someInfo
  </sql>

  <select id="getRecordsByParam" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    FROM dfcf_record
    where 1 = 1
    <if test="stockCode != null and stockCode != ''">
      and stock_code = #{stockCode}
    </if>
    <if test="processDate != null and processDate != ''">
      and process_date = #{processDate}
    </if>
    <if test="stockName != null and stockName != ''">
      and stock_name = #{stockName}
    </if>
    <if test="stockMarket != null and stockMarket != ''">
      and stock_market = #{stockMarket}
    </if>
  </select>

  <select id="selectByProDateAndCodeAndTVer" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM dfcf_record
    WHERE stock_market = #{stockMarket}
    AND process_date = #{processDate}
    AND stock_code = #{stockCode}
  </select>

  <insert id="insert" parameterType="com.zqz.dao.entity.DfcfRecord">
    insert into dfcf_record (stock_market, stock_rank, stock_code,
      stock_name, price_new, stock_change, 
      process_date, main_net_inflow_amount, main_net_proportion, 
      super_big_part_net_inFlow_amount, super_big_part_net_proportion, 
      big_part_net_inFlow_amount, big_part_net_proportion, 
      middle_part_net_inFlow_amount, middle_part_net_proportion, 
      litter_part_net_inFlow_amount, litter_part_net_proportion, 
      stock_page, count_time, time_version, 
      crawler_version, crawl_count, someInfo)
    values (#{stockMarket,jdbcType=VARCHAR}, #{stockRank,jdbcType=VARCHAR}, #{stockCode,jdbcType=VARCHAR}, 
      #{stockName,jdbcType=VARCHAR}, #{priceNew,jdbcType=DECIMAL}, #{stockChange,jdbcType=DECIMAL}, 
      #{processDate,jdbcType=DATE}, #{mainNetInflowAmount,jdbcType=DECIMAL}, #{mainNetProportion,jdbcType=DECIMAL}, 
      #{superBigPartNetInflowAmount,jdbcType=DECIMAL}, #{superBigPartNetProportion,jdbcType=DECIMAL}, 
      #{bigPartNetInflowAmount,jdbcType=DECIMAL}, #{bigPartNetProportion,jdbcType=DECIMAL}, 
      #{middlePartNetInflowAmount,jdbcType=DECIMAL}, #{middlePartNetProportion,jdbcType=DECIMAL}, 
      #{litterPartNetInflowAmount,jdbcType=DECIMAL}, #{litterPartNetProportion,jdbcType=DECIMAL}, 
      #{stockPage,jdbcType=INTEGER}, #{countTime,jdbcType=TIMESTAMP}, #{timeVersion,jdbcType=VARCHAR}, 
      #{crawlerVersion,jdbcType=VARCHAR}, #{crawlCount,jdbcType=INTEGER}, #{someinfo,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="com.zqz.dao.entity.DfcfRecord">
    update dfcf_record
    <set>
      <if test="stockMarket != null">
        stock_market = #{stockMarket,jdbcType=VARCHAR},
      </if>
      <if test="stockRank != null">
        stock_rank = #{stockRank,jdbcType=VARCHAR},
      </if>
      <if test="stockCode != null">
        stock_code = #{stockCode,jdbcType=VARCHAR},
      </if>
      <if test="stockName != null">
        stock_name = #{stockName,jdbcType=VARCHAR},
      </if>
      <if test="priceNew != null">
        price_new = #{priceNew,jdbcType=DECIMAL},
      </if>
      <if test="stockChange != null">
        stock_change = #{stockChange,jdbcType=DECIMAL},
      </if>
      <if test="processDate != null">
        process_date = #{processDate,jdbcType=DATE},
      </if>
      <if test="mainNetInflowAmount != null">
        main_net_inflow_amount = #{mainNetInflowAmount,jdbcType=DECIMAL},
      </if>
      <if test="mainNetProportion != null">
        main_net_proportion = #{mainNetProportion,jdbcType=DECIMAL},
      </if>
      <if test="superBigPartNetInflowAmount != null">
        super_big_part_net_inFlow_amount = #{superBigPartNetInflowAmount,jdbcType=DECIMAL},
      </if>
      <if test="superBigPartNetProportion != null">
        super_big_part_net_proportion = #{superBigPartNetProportion,jdbcType=DECIMAL},
      </if>
      <if test="bigPartNetInflowAmount != null">
        big_part_net_inFlow_amount = #{bigPartNetInflowAmount,jdbcType=DECIMAL},
      </if>
      <if test="bigPartNetProportion != null">
        big_part_net_proportion = #{bigPartNetProportion,jdbcType=DECIMAL},
      </if>
      <if test="middlePartNetInflowAmount != null">
        middle_part_net_inFlow_amount = #{middlePartNetInflowAmount,jdbcType=DECIMAL},
      </if>
      <if test="middlePartNetProportion != null">
        middle_part_net_proportion = #{middlePartNetProportion,jdbcType=DECIMAL},
      </if>
      <if test="litterPartNetInflowAmount != null">
        litter_part_net_inFlow_amount = #{litterPartNetInflowAmount,jdbcType=DECIMAL},
      </if>
      <if test="litterPartNetProportion != null">
        litter_part_net_proportion = #{litterPartNetProportion,jdbcType=DECIMAL},
      </if>
      <if test="stockPage != null">
        stock_page = #{stockPage,jdbcType=INTEGER},
      </if>
      <if test="countTime != null">
        count_time = #{countTime,jdbcType=TIMESTAMP},
      </if>
      <if test="timeVersion != null">
        time_version = #{timeVersion,jdbcType=VARCHAR},
      </if>
      <if test="crawlerVersion != null">
        crawler_version = #{crawlerVersion,jdbcType=VARCHAR},
      </if>
      <if test="crawlCount != null">
        crawl_count = #{crawlCount,jdbcType=INTEGER},
      </if>
      <if test="someinfo != null">
        someInfo = #{someinfo,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>



</mapper>